.hidden {
  display: none;
}

body {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.view-port {
  /* position: relative; */
  /* display: flex; */
  /* justify-content: center; */
}

.clock h2 {
  /* margin-left: 200px; */
}
